body {
    background-color: #F0EEE1;
}

h1, h2, h3 {
    font-family: 'Great Vibes', sans-serif;
    color: rgb(128, 0, 32);
}

p {
    font-family: ubuntu, sans-serif;
}
.container{
    width: 100%;
}

.header {
    text-align: center;
}

.header * {
    display: inline-block;
    padding: 10px;
    color: rgb(128, 0, 32);
}

.side_nav {
    box-shadow: 0 0 3px gray, 0 0 5px gray;
    position: fixed;
    height: 100vh;
    background: url(../images/georgy1_nav.png) no-repeat;
    background-size: cover;
}

.mobile {
    display: inline-block !important;
    z-index: 200;
    width: 100%;
    position: fixed;
}

.desktop {
    display: none !important;
}


.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .nav-tabs li {
    border-radius: 10px 0px 0px 10px;
  }

  .nav-tabs li a {
      border-radius: 0px;
      background-color: rgba(238,238,238, 0.8);
      color: black;
  }

  .nav-tabs li a:hover {
    color: rgb(128, 0, 32);
    background-color: rgba(238,238,238, 1);
}
  
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555555;
    background-color: white;

  }
  .navbar,
  .navbar-default {
    background-image: none;
    background-color: rgba(205,105,65, 0.8);
    border: none;
  }

  .nav-tabs li a {
      font-family: ubuntu, sans-serif;
  }

  .header h3,
  .navbar-brand {
      font-family: 'Great Vibes', sans-serif;
      font-size: 35px;
      font-weight: 100;
  }

  .content{
      margin-top: 20%;
  }

  .home_info {
    text-align: center;
  }

  .home_info img,
  .home_info h1,
  .home_info p{
      display: inline-block;
      
  }






@media screen and (min-width:768px) {

    .nav>li>a{
        padding: 2px 10px;
    }

    .nav-tabs li:hover,
    .nav-tabs li:active,
    .nav-tabs li:focus {
        border-left: 8px rgb(128, 0, 32) solid;
        transition: border-left .7s ease;
    }

    .side_nav {
        padding-right: 0;
        margin-left: 15px;
        max-width: 260px;
    }

    .content {
        margin-left: 25%;
        margin-top: 20px;
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: inherit !important;
        position: fixed;
        z-index: 200;
    }


}

@media screen and (min-width:868px) {

    .nav>li>a{
        padding: 4px 10px;
    } 
}

@media screen and (min-width:1000px) {
    
        .nav>li>a{
            padding: 6px 10px;
        } 
    }